/* Glowing orange for "Playing" */
.playing {
    background-color: orange;
    color: white;
    animation: glow 2s infinite;
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 5px orange;
    }
    50% {
      box-shadow: 0 0 15px orange;
    }
    100% {
      box-shadow: 0 0 5px orange;
    }
  }
  
  /* Grey for "Completed" */
  .completed {
    background-color: grey;
    color: white;
    text-decoration: line-through;
  }
  
  /* Green for "Available" */
  .available {
    background-color: green;
    color: white;
  }
  
  .scheduled {
    background-color: darkgreen;
    color: white; /* Optional: to ensure text is readable */
  }
  
  .picked {
    background-color: red !important; /* Override other styles */
    color: white !important;
    pointer-events: none;
    opacity: 0.9;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
  background-image: url('/background/teamsbackground.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: #333; /* Ensure text remains readable */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust opacity as needed */
  z-index: -1;
}
